@model IEnumerable<FiTCARD.Establishments.Model.Categorias.CategoriasModel>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone Obrigatório</th>
                        <th>Data do Cadastro</th>
                        <th>Ativo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var categoria in Model)
                    {
                        <tr>
                            <td>@categoria.Nome</td>
                            <td>@categoria.TelefoneObrigatorio</td>
                            <td>@categoria.DataCadastro</td>
                            <td>@categoria.Ativo</td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.ActionLink("Nova Categoria", "Inserir", "Categorias", null, new { @class="btn btn-success btn-sm"});
        </div>
    </div>