@using FiTCARD.Establishments.Model.Categorias
@model CategoriasModel

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Insert", "Categorias", FormMethod.Post))
        {
            <div class="form-group">
                <label>Nome da Categoria:</label>
                @Html.TextBoxFor(c => c.Nome, new { @class = "form-control" })
                <label>Nome da Categoria:</label>
                @Html.TextBoxFor(c => c.TelefoneObrigatorio, new { @class = "form-control" })
                <label>Nome da Categoria:</label>
                @Html.TextBoxFor(c => c.Ativo, new { @class = "form-control" })
                @Html.TextBoxFor(c => c.DataCadastro, new { @class = "form-control" })
                @Html.TextBoxFor(c => c.Id, new { @class = "form-control" })
            </div>
            <input type="submit" value="send" class="btn btn-success btn-sm">
        }
        @Html.ActionLink("Nova Categoria", "Inserir", "Categorias", null, new { @class = "btn btn-success btn-sm" });
    </div>
</div>